body {
    background: repeating-linear-gradient(
        60deg,
        rgb(97, 96, 96) 120px,
        rgb(32, 32, 32) 180px,
        rgb(84, 84, 84) 120px,
        rgb(40, 40, 40) 120px
    )
}

label {
    font-size: 30px;
    color: white;
}

header {
    font-size: 1.3cm;
    color: whitesmoke;
    text-align: center;
}

#content {
    background-color: rgb(43, 42, 42);
    width: 18cm;
    height: 12cm;
    top: 1cm;
    margin: auto;
    border: 4px;
    border-radius: 8px;
    border-color: red;
    border-style: groove;
}

.buttons {
    font-size: 35px;
    background-color: rgb(227, 31, 31);
    color: white;
    border-radius: 8px;
}

.entries {
    display: table;
    font-size: 30px;
    text-align: center;
    background-color: rgb(72, 71, 71);
    color: white;
}

#buttonsplace {
    padding-top: 14px;
}